body{
    background-color: beige;
}

h1{
    font-size: 32px;
    font-family: Dialog;
    color:coral ;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;

}

p {
    font-size: 26px;
    font-family: "Abyssinica SIL";
    color: black;
    text-align: justify-all;
}
img{
    width: 230px;
    height: 50vh;
}
nav {
    padding: 40px 0 40px 0;
    background-color: coral;
    text-align: right;
    margin: 20px;
    border-radius: 10px;
}
button {
    padding: 10px;
    background-color: darkcyan;
    margin: 0 20px;
    border-radius: 10px;
}
